snippet hiformal "A Formal Email body."
Dear ${1},

${2:ACTUAL-TEXT-BODY}


endsnippet

snippet hiinformal "A informal Email body."
Hi ${1},

${2:ACTUAL-TEXT-BODY}


endsnippet

snippet kind "End mail in a formal manner."
Kind regards,
Norman

endsnippet

snippet best "End mail informally."
Best,
Norman

endsnippet

